<input name="_id[]" type="hidden" value='$rd[id]'>
<tr align="center" $class>
	<td>$item_list</td>
	<td><input name="nong_du[]" $readonly type="text" class="center" value="{$rd['consistence']}" /></td>
	<td><input name="bound[]"   $readonly type="text" class="center" value="{$rd['eligible_bound']}" /></td>
	<td style="position: relative;"><input name="wz_unit[]" $readyonly type="text" class="center" value="{$rd['wz_unit']}" style="width:127px;z-index: 1;" />$unit_select</td>
	<td><input name="c_bound[]" $readonly type="text" class="center" value="{$rd['c_bound']}" /></td>
</tr>