<!--化验项目列表 行模板-->
<tr id='$rs_assay_value[id]' fenlei='$rs_assay_value[fenlei]' style="$hideTr">
	<td>$i</td>
	$fenleiTd
	<td align='left' name='value_C' oldValue='$rs_assay_value[value_C]'>$rs_assay_value[value_C]$rs_assay_value[vid]</td>
	<td name='userid' class='update' oldValue='$rs_assay_value[userid]'>$rs_assay_value[userid]</td>
	<td name='jcx' id='jcx' class='update'oldValue='$rs_assay_value[jcx]'>$rs_assay_value[jcx]</td>
	<td name='w1' class='update' oldValue='$rs_assay_value[w1]'>$rs_assay_value[w1]</td>
	<td name='w2' class='update' oldValue='$rs_assay_value[w2]'>$rs_assay_value[w2]</td>
	<td name='w3' class='update' oldValue='$rs_assay_value[w3]'>$rs_assay_value[w3]</td>
	<td name='w4' class='update' oldValue='$rs_assay_value[w4]'>$rs_assay_value[w4]</td>
	<td name='w5' class='update' oldValue='$rs_assay_value[w5]'>$rs_assay_value[w5]</td>
	<td name='act' class='update' oldValue='$rs_assay_value[act]'>$act</td>
	<td  style="white-space: nowrap;"><a href="assay_value_modify.php?vid=$rs_assay_value[id]&xm_name=$rs_assay_value[value_C]">详细信息修改</a></td>
<!--	<td>设置方法&nbsp;| 设置标准</td> -->
</tr>
