<div class="widget-header header-color-blue4 center" style="width:100%;margin:0 auto;padding:0;">
    <div class="widget-toolbar">
        <span style="margin-left:100px;"><a href="$rooturl/gys/gys_pingjia_add.php?gys_id=$id"><input class="btn btn-sm btn-primary btnPrint" type="button" value="添加供货商评价"/></a></span>
    </div>
</div>
<h3 class="header smaller center title"> $title (共有 $num 个评价)</h3>
<table  class="table table-striped table-bordered table-hover center">
		<tr align=center>
            <th>序号</th>
            <th>供应商名称</th>
            <th>所购物品名称</th>
            <th>评价人</th>
            <th>评价日期</th>
            <th>操作</th>
		</tr>
		$lines       
	</table>