
<!-- 显示供应商页面 -->
<input name=_id[] type=hidden >
<input type='hidden' class='today' value="$today"/>
<input type='hidden' class='gys_id_$r[id]' value="$r[id]"/>
<tr style="height:20px;" align="center">
		<td >$i</td>
		<td class='xs' data-nid='$r[nid]' data-y='$_GET[riqiy]' data-gid='$r[gid]'>$gys</td>
		<td >$r[gy_fwly]</td>
		<td>$r[dz]</td>
		<td>$r[lxr]</td>
		<td>$r[lxdh]</td>
		<!--<td>$r[yyzz]</td>
		<td>$r[zzjgdm]</td>
		<td class='dq_date'>$r[dqdate]</td>到期时间
		<td class="sw_status">$r[swdjz]</td>-->
		$operation
		<!--<tr>
			<td colspan="9" style="text-align:left;">备注：<span class='span_beizhu'>$r[beizhu]</span></td>
		</tr> -->
		
</tr>