<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<title>{$dwname} Ver{$mainversion} {$u['userid']} {$now}</title>
		<meta name="keywords" content="LIMS" />
		<meta name="description" content="LIMS" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{$rooturl}/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{$rooturl}/css/ace.min.css" />
		<link href="{$rooturl}/css/lims/main.css" rel="stylesheet" />
		<link href="{$rooturl}/css/lims/print.css" rel="stylesheet" />
		<style type="text/css">
			table.single tr td textarea,
			table.single tr td input[type="text"], 
			table.single tr td input[type="password"], 
			table.single tr td input[type="datetime"], 
			table.single tr td input[type="datetime-local"], 
			table.single tr td input[type="date"], 
			table.single tr td input[type="month"], 
			table.single tr td input[type="time"], 
			table.single tr td input[type="week"], 
			table.single tr td input[type="number"], 
			table.single tr td input[type="email"], 
			table.single tr td input[type="url"], 
			table.single tr td input[type="search"], 
			table.single tr td input[type="tel"], 
			table.single tr td input[type="color"],
			input,textarea {border: none;background: none;}
		</style>
		<script type="text/javascript" src="{$rooturl}/js/jquery.js"></script>
	</head>
	<body style="background:#FFF">