<h3 class="header smaller center title" style="text-align:center;">仪器设备一览表 $total</h3>
<table  class="table table-striped table-bordered table-hover center"  bgcolor="Green">
		<thead>
			<tr align=center >
    				<th>序号</th>
                    <th>仪器名称</th>
                    <th>设备编号</th>
                    <th>型号</th>
                    $type_label
                    <th>设备原值（元）</th>
                    <th>财务资产编号</th>
                    <th>出厂编号</th>
                    <th>制造厂家</th>
                    <th>状态</th>
                    <th>购置日期</th>
                    <th>使用年限</th>
                    <th>下次检定日期</th>
                    <th>管理部门</th>
                    <th>设备存放地点</th>
                    <th>档案位置</th>
  			</tr>
 		</thead>
   		$lines
	</table>