<style type="text/css"> 
table{cellpadding:0;cellspacing:0;border-collapse:collapse;}
table td{padding:4px !important;font-size:13px !important;}
table th{padding:4px !important;font-size:13px !important;}
h3{font-size: 14px;}
</style> 
<h3 class="header smaller center title">{$title}检测任务汇总表</h3>
<table style="width:24cm;" class="table table-striped table-bordered table-hover center">
	$str_main
</table>
<table id='$keshi'><tr><td>接样人：</td><td>$jyren</td><td width='200px'></td><td>发样人：</td><td>$fyren</td></tr></table>
<script type="text/javascript">
	window.print();
	window.close();
</script>