<table width="310" border="1" cellspacing="0" cellpadding="0" align="center" style="line-height: 20px;">
  <caption style="font-size:14px;">
    $sitename  $szlb
  </caption>
  <tr align="center">
    <td width='120px'>采样时间：</td>
    <td>$cr[cy_date]</td>
    <td>&nbsp;</td>
  </tr>
  <tr align="center">
    <td>样品编号：</td>
    <td>$cr[bar_code]</td>
    <td>&nbsp;</td>
  </tr>
  <tr align="center">
    <td>检测项目</td>
    <td>检测值</td>
    <td>数据趋势</td>
  </tr>
$xmstr
  <tr align="center">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p style='margin:0 auto;padding-left:10px;'>数据颜色说明：<br>
 <font color='green'>绿色：I类、II类、III类</font><br>
 <font color='blue'>蓝色：IV类</font><br>
 <font color='red'>红色：V类，劣V类</font><br>
 黑色：为没有标准，或其他无类别标准</p>
