<!-- 北京自来水的化验单溯源报告 -->
<caption style="line-height: 36px; font-size: 24px;">数据溯源报告</caption>
<table  style="width:17cm" class="single" >
  <tr>
    <td>采样单号</td>
    <td>$cy[cyd_bh]</td>
    <td>采样人</td>
    <td>$cy[cy_user]</td>
    <td>采样现场是否有异常</td>
    <td></td>
  </tr>
  <tr>
    <td>样品接收人</td>
    <td>$cy[sh_user_qz]</td>
    <td>接收样品是否合格 </td>
    <td>&nbsp;</td>
    <td>样品摆放位置</td>
    <td>$cyr[bar_code_position]</td>
  </tr>
  <tr>
    <td>化验单号</td>
    <td>$tid</td>
    <td>化验人</td>
    <td>$xc[userid]</td>
    <td>是否具有相关资质</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>检测标准</td>
    <td colspan="2">$xc[td2]</td>
    <td>检测方法</td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td>分析仪器</td>
    <td>$xc[td4]</td>
    <td>&nbsp;</td>
    <td>仪器是否在正常检修期</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
$sy