<style type="text/css">
.bc{ position: relative; left:300px;}
.denggao{vertical-align: middle; line-height:25px; height:25px;}
.denggao img{vertical-align: middle;}
.tjk{display:none;}
.duoxuan input{vertical-align: -2px;_vertical-align: -1px;margin-right: 2px;}
.srk input{width:90px;}
.srk{display:inline-block;}
.bianse,.duoxuan label,.duoxuan input{cursor:pointer;}
//.duoxuan label{white-space:nowrap;}
.duoxuan{display:inline-block;width:438px;}
.duoxuan label{}
</style>
<script>
function gamp(){
	var id=document.getElementsByName("site_id")[0].value;
	var actions=document.getElementsByName("actions")[0].value;
	var site_type=document.getElementsByName("site_type")[0].value;
	var group_name=document.getElementsByName("current_group_name")[0].value;
	var jd=document.getElementsByName("jd")[0].value;
	var wd=document.getElementsByName("wd")[0].value;
	window.location.href="site_gmap.php?sid="+id+"&group_name="+group_name+'&site_type='+site_type+"&jd="+jd+"&wd="+wd+"&action="+actions;
}
</script>

<form action='site_info_save.php' method="post" onsubmit="return check_site_info()">
<h3 class="header smaller center title">$site_info[group_name] 下的： $site_info[site_name]站点</h3>
<div class="widget-box no-border" style="width:100%;margin-left: auto;
margin-right: auto;">
  <div class="widget-header header-color-blue4 center">
	<div class="widget-toolbar">
		<input type="hidden" name="site_id" value="$site_info[id]" />
		<input type="hidden" name="sgid" value="$site_info[sgid]" />
		<input type="hidden" name="sites_type" value="$site_info[site_type]" />
		<input type="hidden" name="site_type" value="$_GET[site_type]" />
		<input type="hidden" name="current_group_name" value="$site_info[group_name]" />
		<input type="hidden" name="jd" value="$site_info[jingdu]" />
		<input type="hidden" name="wd" value="$site_info[weidu]" />
		<input type="hidden" name="old_tjcs" value="$site_tjcs" />
		<input type="hidden" name="old_vid" value="$site_info[assay_values]" />
		<input type="hidden" name="actions" value="$_GET[action]" />
		站点性质:$site_type
	</div>
  </div>
  <div class="widget-body">
	<table class="table table-striped table-bordered table-hover center">
		<tbody id="myTable">
		<tr>
			<td align="center" style='width:11%'>站名:</td>
			<td style='width:22%'><input name="site_name" type="hidden" value='$site_info[site_name]'>$site_info[site_name]</td>
			<td align="center" style='width:11%'>水样类型:</td>
			<td id="sylx" style='width:22%'><input name="water_type" type="hidden" value='$site_info[water_type]'>$leix2</td>
			<td align="center" style='width:11%'>站址:</td>
			<td><input name="site_address" type="hidden"  value='$site_info[site_address]'>$site_info[site_address]</td>
		</tr>
		<tr>
            <td align="center">河(库)名:</td>
			<td><input name="river_name" type="hidden" value='$site_info[river_name]'>$site_info[river_name]</td>
            <td align="center">水系:</td>
            <td><input name="water_system" type="hidden" value='$site_info[water_system]'>$site_info[water_system]</td>
			<td align="center">流域:</td>
            <td><input name="area" type="hidden" value='$site_info[area]'>$site_info[area]</td>
        </tr>
		<tr>
			<td align="center">站点编码:</td>
			<td style="width:20%;"><input name="site_code" type="hidden" value='$site_info[site_code]'>$site_info[site_code]</td>
            <td align="center">层面编号:</td>
			<td><input name="site_vertical" type="hidden" value='$site_info[site_vertical]'>$site_info[site_vertical]</td>
            <td align="center">垂线编号:</td>
            <td><input name="site_line" type="hidden" value='$site_info[site_line]'>$site_info[site_line]</td>			
        </tr>
		<tr>
			<td align="center">行政区:</td>
			<td><input name="xz_area" type="hidden" value='$site_info[xz_area]'>$site_info[xz_area]</td>
			<td align="center">水功能区:</td>
			<td><input name="sgnq" type="hidden" value='$site_info[sgnq]'>$site_info[sgnq]</td>
			<td align="center">水功能区编号:</td>
			<td><input name="sgnq_code" type="hidden" value='$site_info[sgnq_code]'>$site_info[sgnq_code]</td>
				
		</tr>
		<tr>
			<td align="center">经度:</td>
			<td><input name="jingdu" type="hidden" value='$site_info[jingdu]'>$site_info[jingdu]</td>
            <td align="center">纬度:</td>
			<td><input name="weidu" type="hidden" value='$site_info[weidu]'>$site_info[weidu]</td>
			<td align="center">$fzx</td>
			<td>$fzx2</td>
        </tr>
		<tr>
			<td align="center">采样范围:(米)</td>
			<td><input name="banjing" type="hidden" value='$site_info[banjing]'>$site_info[banjing]</td>
			<td align="center" colspan="2"><a title="设置坐标" href="javascript:gamp();">查看地图</a></td>
			<td align="center"></td>
			<td></td>
		</tr>
		<tr>
			<td align="center">备注:</td>
			<td colspan="2"><input name="note" type="hidden" value='$site_info[note]'>$site_info[note]</td>
			<td align="center">统计参数:<img src="$rooturl/img/tianjia.jpg" name="tianjia" width="51px" height="24px" class="bianse tianjia" id='bianshe'/> <img src="$rooturl/img/bianji.jpg" name="bianji" class='bianse bianji' id='bianshe2'/></td>
			<td colspan="2"><p class="duoxuan">$tjcs </P>
                <p class="srk" style="display:none;">$tjcs2</p>
				<input type="text" name='tjlx' onkeyup="value=value.replace(/[(\ )(\~)(\`)(\!)(\@)(\#)(\$)(\￥)(\%)(\^)(\&)(\……)(\*)(\()(\))(\-)(\——)(\_)(\+)(\=)(\[)(\])(\{)(\})(\|)(\\)(\;)(\；)(\：)(\:)(\')(\‘)(\“)(\”)(\,)(\，)(\.)(\。)(\/)(\<)(\>)(\《)(\》)(\?)(\？)(\、)(\)]+/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[(\ )(\~)(\`)(\!)(\@)(\#)(\$)(\￥)(\%)(\^)(\&)(\……)(\*)(\()(\))(\-)(\——)(\_)(\+)(\=)(\[)(\])(\{)(\})(\|)(\\)(\;)(\；)(\：)(\:)(\')(\‘)(\“)(\”)(\,)(\，)(\.)(\。)(\/)(\<)(\>)(\《)(\》)(\?)(\？)(\、)(\)]+/g,''))" value="" class="tjk" placeholder="此处输入统计参数名称" /></td>
        </tr>
        </tbody>
	</table>
	$pici
	<table class="table table-striped table-bordered table-hover center">
		<tbody>
		<tr align="center" >
			<td><b>该站点目前关联的化验项目:($glxmsum 个)</b></td>
		</tr>
		<tr><td style="padding-left:50px;">
			$glxm2</td>
		</tr>
		<tr align="center" >
			<td ><input  name="action" type="submit" class="btn btn-xs btn-primary" value='保存'></td>
		</tr>
		</tbody>
	</table>
  </div>
</div>
</form>
<script>
$("#bianshe").mouseover(function (){
	if(this.name!='fanhui')
        this.src='$rooturl/img/'+this.name+'2.jpg';
});
$("#bianshe").mouseout(function (){
	this.src='$rooturl/img/'+this.name+'.jpg';
});
$("#bianshe2").mouseover(function (){
	if(this.name!='fanhui')
        this.src='$rooturl/img/'+this.name+'2.jpg';
});
$("#bianshe2").mouseout(function (){
	this.src='$rooturl/img/'+this.name+'.jpg';
});
//点击“填加”按钮后，显示出“添加输入框”，并把“添加”图片换成“返回”
  $(".tianjia").click(function(){
        $(".tjk").toggle().focus();
        if(this.name!='fanhui'){
                //$(".tjk").focus();
                this.src='$rooturl/img/fanhui.jpg';
                this.name='fanhui';
        }
        else{
                this.src='$rooturl/img/tianjia.jpg';
                this.name='tianjia';
        }

  });
//点击 编辑按钮后，把“多选框”换成“输入框”，并把“编辑”图片换成“返回”
  $(".bianji").click(function(){
        $(".duoxuan").toggle();
        $(".srk").toggle();
        if(this.name!='fanhui'){
                this.src='$rooturl/img/fanhui.jpg';
                this.name='fanhui';
        }
        else{
                this.src='$rooturl/img/bianji.jpg';
                this.name='bianji';
        }
  });
  function uplx(weizhi){
        var lxid = weizhi.attributes["lxid"].nodeValue;
        var zhi  = weizhi.value;
	if(lxid!=''&&zhi!=''){
		if(zhi!=weizhi.attributes["huifu"].nodeValue){
        	$.getJSON("ajax_rwlx.php?qufen=xiugai&id="+lxid+"&name="+zhi,function(json){
                	if(json.zt=='成功'){
                        	document.getElementById(lxid).innerHTML="<input name='tjcs_name[]' value='"+lxid+"' type='checkbox'>"+zhi;
							weizhi.setAttribute("huifu",zhi);
                        	alert('修改成功');
                	}else {
						alert('该名称已存在');
						weizhi.value = weizhi.attributes["huifu"].nodeValue;
						weizhi.focus();
					}
        	});
			}
	}
	else{
		alert('参数名称不能为空');
		weizhi.value = weizhi.attributes["huifu"].nodeValue;
		weizhi.focus();
	}
}
  //鼠标离开“添加输入框”后，增加“多选框”和“编辑输入框”
  $(".tjk").blur(function(){//重复判断
        var name = this.value;
        if(name!=''){
                $.getJSON("ajax_rwlx.php?lxName="+name,function(json){
						if(json.zt=='成功'){
                                $(".duoxuan").append("<label id='"+json.labelId+"'><input type='checkbox' name='tjcs_name[]' value='"+name+"' />"+name+"</label>");

                                $(".srk").append("<span><input type='text'  lxid='"+json.labelId+"'  onblur='uplx(this)' value='"+name+"' /></span>");//<img src='../images/shanchu.png' name='shanchu' class='bianse' /></span>");
                        }
						if(json.zt=='分中心中已存在该参数'){alert('分中心中已存在该参数');}
						if(json.zt=='总中心中已存在该参数'){alert('总中心中已存在该参数');}
						if(json.zt=='已存在该参数'){ alert('该名称已存在');}
                        $(".tjk").focus().val('');
                });
        }
  });
</script>
