
<body>
	<h3  style="margin:0 auto;width:730px;text-align:center">{$_GET['year']}年{$_GET['month']}月{$tjcs}监测成果表</h3>
	<div  style="margin:0 auto;width:730px;text-align:right">监测单位：{$hub_rs['hub_name']}</div>
	<table  style="margin:0 auto;width:730px;border-collapse:collapse;font-size:12px" border="1px">
		{$water_area_month_lines}
		<tr>
			<td colspan="2">备注</td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
		</tr>
	</table>
	<table  style="margin:0 auto;width:730px; font-size:12px" >
		<tr>
			<td style="text-align:left;padding-left:20px;width:16%">制表：</td>
			<td style="width:16%;letter-spacing:20px;text-align:center">月日</td>
			<td style="width:18%;text-align:left;padding-left:20px">校核：</td>
			<td style="width:18%;letter-spacing:20px;text-align:center">月日</td>
			<td style="width:16%;text-align:left;padding-left:20px">审核</td>
			<td style="width:16%;text-align:right;letter-spacing:20px">月日</td>
		</tr>
	</table>
</body>



