<tr class='line'>
	<td name="$checked_arr[0]">$i</td>
	<td name="$checked_arr[1]">$month 月</td>
	<td name='$checked_arr[2]'>$data[cyd_bh]</td>
	<td name='$checked_arr[3]'>$wtbh</td>
	<td name='$checked_arr[4]'>$data[cy_dept]</td>
	<td name='$checked_arr[5]'>$data[water_type]</td>
	<td name='$checked_arr[6]'>$data[site_name]</td>
	<td name='$checked_arr[7]'>$data[bar_code]</td>
	<td name='$checked_arr[8]'>$data[note]</td>
	<td name='$checked_arr[9]'>$cy_date</td>
	<td name='$checked_arr[10]'>$sy_date</td>
	$add_project
</tr>