<h1 align="center"  >仪 器 设 备 检 定 周 期 登 记 表</h1>
<table class='single' style='width:18cm;'>
  <tr align="center">
    <td height="32" colspan="2" >设备编号：$r[sbbh]</td>
    <td height="32">仪器名称：</td>
    <td height="32">$r[name]</td>
    <td height="32">型号：</td>
    <td height="32">$r[sbxh]</td>
    <td height="32">出厂编号:$r[ccbh]</td>
  </tr>
  <tr align="center">
    <td>序号</td>
    <td>检定单位</td>
    <td>检定日期</td>
    <td>检定结果</td>
    <td>有效日期</td>
    <td>送检人</td>
    <td>备注</td>
  </tr>
$dhline

</table>
