<!-- 仪器鉴定 结果 查看 的 页面 -->
<h1 align="center">$r[name]   周期检定校验记录 </h1>
<table class='single' style='width:17cm;'>
     <tr align="center">
      <td  width="75" height="65">检定<br>(校验)<br>日期</td>
      <td height="65">$r[jdtime]</td>
      <td  width="75"  height="65">检定<br>(校验)<br>单位</td>
      <td height="65">$r[jddw]</td>
      <td  width="75"  height="65">检定<br>校验人</td>
      <td height="65">$r[jdren]</td>
    </tr>
<tr  align="center">
         <td height="25" colspan="1">鉴定结果:</td>
 <td height="25" colspan="2"> $r[jieguo]
 </td>
 <td height="25" colspan="1">有效日期:</td>
 <td height="25" colspan="2">$r[yxtime]</td>
    </tr>
    <tr>
         <td height="65" colspan="6">$r[jdt1]</td>
    </tr>
    <tr>
          <td height="65" colspan="6">$r[jdt2]</td>
    </tr>
    <tr>
         <td height="65" colspan="6">$r[jdt3]</td>
    </tr>
    <tr>
          <td height="65" colspan="6">$r[jdt4]</td>
    </tr>
    <tr>
         <td height="65" colspan="6">$r[jdt5]</td>
    </tr>
    <tr>
        <td height="65" colspan="6">$r[jdt6]</td>
    </tr>
    <tr>
        <td height="65" colspan="6">$r[jdt7]</td>
    </tr>
    <tr>
         <td height="65" colspan="6">$r[jdt8]</td>
    </tr>
    <tr>
     <td height="65" colspan="6">$r[jdt9]</td>
    </tr>
<tr>
     <td align="center" colspan="6"></td>
    </tr>
  </table>
