<tr  align="center">
	<td width="10px">$zdbh</td>
    <td width="15%">$zdmc</td>
    <td title="{$value[ion][panding_yiju]}">{$value[ion][result]}</td>
    <td title="{$value[solid][panding_yiju]}">{$value[solid][result]}</td>
    <td title="{$value[zongyingdu][panding_yiju]}">{$value[zongyingdu][result]}</td>
    <!--<td title="判断依据：\n(1)0.2<五日生化需氧量/化学需氧量<0.8\n(2)化学需氧量>五日生化需氧量\n(3)化学需氧量>高锰酸盐指数">$rjyhl</td>-->
    <td title="判断依据：\n(氨氮+硝酸盐氮+亚硝酸盐氮)≤总氮">$danhl</td>
    <td title="判断依据：\n(1)DO>5.0时，硝酸盐氮>氨氮\n(2)DO<5.0时，硝酸盐氮<氨氮">$sdrjhl</td>
</tr>
