<h3 class="header smaller center title">{$this_title}</h3>
<table class="table table-striped table-bordered table-hover center" style = 'width:90%;'  title="判断依据：\n{$ion_result_arr[panding_yiju]}">
 <tr align="center">
	<th align="center">序号</th>
	<th>站点</th>
	<th title='39.0983'>钾</th>
	<th title='22.98976928'>钠</th>
	<th title='40.078'>钙</th>
	<th title='24.3050'>镁</th>
	<th title='35.453'>氯化物</th>
	<th title='96.0626'>硫酸盐</th>
	<th title='62.0049'>硝酸盐{$xsyd_str}</th>
	<th title='100.0869'>总碱度</th>
	<th title='60.0089'>碳酸盐</th>
	<th title='61.01684'>重碳酸盐{$zjd_str}</th>
	<th>阳离子毫摩尔加和</th>
	<th>阴离子毫摩尔加和</th>
	<th>化学平衡</th>
	<th>是否合理</th>
  </tr>
 $lines

</table>
