<h3 class="header smaller center title">{$this_title}</h3>
<table class="table table-striped table-bordered table-hover center" style = 'width:90%;'  title="判断依据：\n{$ion_result_arr[panding_yiju]}">
 <tr align="center">
	<th align="center">序号</th>
	<th>站点</th>
	<th>总硬度</th>
	<th>钙</th>
	<th>碱度</th>
	<th>氯化物</th>
	<th>硫酸盐</th>
	<th>硝酸盐</th>
	<th>二氧化硅</th>
	<th>镁</th>
	<th>钠</th>
	<th>实测溶固体值</th>
	<th>理论溶固体值</th>
	<th>最小溶固体值</th>
	<th>最大溶固体值</th>
	<th>化学平衡</th>
	<th>是否合理</th>
  </tr>
 $lines

</table>
