<h3 class="header smaller center title">{$this_title}</h3>
<table class="table table-striped table-bordered table-hover center" style = 'width:90%;'  title="判断依据：\n{$ion_result_arr[panding_yiju]}">
 <tr align="center">
	<th align="center">序号</th>
	<th>站点</th>
	<th title='{$ion_result_arr[173][count_value]}'>钙</th>
	<th title='{$ion_result_arr[174][count_value]}'>镁</th>
	<th title='{$ion_result_arr[lilun_yingdu_gongshi]}'>理论总硬度</th>
	<th title=''>实际总硬度</th>
	<th>相对偏差</th>
	<th>是否合理</th>
  </tr>
 $lines

</table>
