<h3 class="header smaller center title">数据合理性分析（耗氧分析）</h3>
<table class="table table-striped table-bordered table-hover center" style = 'width:90%;'  title="判断依据：\n(1)0.2<五日生化需氧量/化学需氧量<0.8\n(2)化学需氧量>五日生化需氧量\n(3)化学需氧量>高锰酸盐指数">
 <tr align="center">
    <td align="center">序号</td>
    <td >站点</td>
    <!--<td>溶解氧</td>-->
    <td >化学需氧量</td>
    <td>五日生化需氧量</td>
    <td>高锰酸盐指数</td>
    <td><!--BOD5/COD-->五日生化需氧量/化学需氧量<br><font color="#A5A2A2">(正确范围: 0.2~0.8)</font></td>
    <td>是否合理</td>
  </tr>
 $tr

</table>
