<h1 align="center">添加{$name}档案</h1>
    <form method='post' action="hn_files_add.php" enctype="multipart/form-data">
      <input name='r' type=hidden value='$username'>
      <input name='uid' type=hidden value='$uid'>           	
		<table align=center class='table table-striped table-bordered table-hover center' style="width:15cm;text-align:center">
			<tr>	
			<td>文件名称</td>
			<td><input type="text" name="bdname" value="" class="inputc"></td>
			</tr>
			<tr>	
			<td>上传文件</td>
			<td><input type="file" name="file"   style='position:relative;left:35px;'></td>
			</tr>
			<tr>	
			<td>备注</td>
			<td><input type="text" name="beizhu" value="" class="inputc"></td>
			</tr>
			<tr>
				<td colspan=2>
					<input type="submit" class='btn btn-xs btn-primary' value="提交">
					<input type="button" id='quxiao' class='btn btn-xs btn-primary' onclick="location.href='hn_files.php?r=$username&uid=$uid';" value='取消'>
				</td>
			</tr>
		</table>
		</form>