<!-- 这个是 任务总揽  用的   -->
<h1 align="center">{$title_site_type}工作量统计</h1>
<p class="center">
{$hyy_fz_list}
任务性质：<select id="site_type" onchange="redirect()">$site_type_list</select>
年份选择：<select id="year" onchange="redirect()">$year_list</select>
任务类型：<select id="rw_type" onchange="redirect()">$rw_type_list</select>
</p>
<p style="width:22cm;margin:0 auto;"><span class="red">*</span> 括号内的数字表示辅测任务。</p>
<table class="table table-striped table-bordered table-hover center" align="center" style="width:22cm">
<tr align="center">
	<td>月份</td>
	<td>01月</td>
	<td>02月</td>
	<td>03月</td>
	<td>04月</td>
	<td>05月</td>
	<td>06月</td>
	<td>07月</td>
	<td>08月</td>
	<td>09月</td>
	<td>10月</td>
	<td>11月</td>
	<td>12月</td>
	<td>总计</td>
</tr>
$line
<tr align="center">
	<td>总计</td>
	<td>{$month_total_1[1]}</td>
	<td>{$month_total_1[2]}</td>
	<td>{$month_total_1[3]}</td>
	<td>{$month_total_1[4]}</td>
	<td>{$month_total_1[5]}</td>
	<td>{$month_total_1[6]}</td>
	<td>{$month_total_1[7]}</td>
	<td>{$month_total_1[8]}</td>
	<td>{$month_total_1[9]}</td>
	<td>{$month_total_1[10]}</td>
	<td>{$month_total_1[11]}</td>
	<td>{$month_total_1[12]}</td>
	<td>{$month_total_1['total']}</td>
</tr>
</table>
<script type="text/javascript">
	$("td").each(function(){
		if($(this).html()==''){
			$(this).html('-');
		}
	});
	function redirect(){
		var hyy_fz = '';
		if('{$_GET['rw_type']}'=='检测任务'){
			hyy_fz = v('hyy_fz');
		}
		location="?year=" + v("year") + "&rw_type=" + v("rw_type") + "&site_type=" + v("site_type") + "&hyy_fz="+hyy_fz;
	}
</script>
