<h3>标准样品控制信息月报表</h3>
<table style='width:24cm' align='center'><tr><td align='left'>　　 $year 年 $month 月</td><td align='right'>共 $totalpage 页 第 $page 页　　　</td></tr></table>
<table class='single' style='width:25cm;' align='center'>
<tr align='center'>
<td>序号</td>
<td>分析日期</td>
<td>化验项目</td>
<td>检测人员</td>
<td>样品编号</td>
<td>标样编号</td>
<td>理论值</td>
<td>不确定度</td>
<td>实测值</td>
<td>RE%</td>
<td>检测结果</td>
</tr>
$lines
</table>
<table align='center' style='width:23cm;'>
<tr><td width='50%'>制表人:</td><td>质量负责人:</td></tr>
<tr><td colspan='2' align='right'>单位:(盖章)</td></tr>
</table>