<tr align="center" class="line">
$td1_2
<td style="color:blue;cursor:pointer" onclick="window.open('$rooturl/huayan/assay_form.php?tid={$r['tid']}')">{$r['td2']}</td>
<td>{$r['c']}</td>
<!-- 室内空白 -->
<td>$kb[1]</td>	
<td>$kb[2]</td>	
<td>$kb[avg]</td>	
<td>$kb[xdpc]</td>
<td>$kb[jgpd]</td>
<!-- 曲线 -->
<td nowrap>$qx[hgfc]</td>
<td title="{$quxian['td18']}">$qx[r]</td>
<td>$qx[hege]</td>
<!-- 室内平行 -->
<td>$r1a[count]</td>
<td>$r1a[cdl]</td>
<td>$r1a[xdpc]</td>
<td>$r1a[ping_jia]</td>
<!-- 加标回收 -->
<td>$r2a[count]</td>
<td>$r2a[cdl]</td>
<td>$r2a[xdpc]</td>
<td>$r2a[ping_jia]</td>
<!-- 标准控制水样 -->
<td>$r3b[count]</td>
<td>$bzyb_cdl</td>
<td>$re_fw</td>
<td>$r3b[ping_jia]</td>
<!--  -->
<td nowrap>{$r['userid']}</td>
</tr>