<h3>实验室内质量控制月报表(1)</h3>
<table style='width:28cm' align='center'><tr><td align='left'>　单位：$dwname </td><td align='right'>$year 年 $month 月　　</td></tr></table>
<table class='single'>
<tr align='center'>
	<td rowspan='2' nowrap>编号</td>
	<td rowspan='2' nowrap>分析项目</td>
	<td rowspan='2' nowrap>分析方法</td>
	<td rowspan='2' nowrap>样品<br />采集<br />总数</td>
	<td colspan='5' >空白</td>
	<td colspan='3' >标准曲线</td>
	<td colspan='4' >平行样</td>
	<td colspan='4' >回收率</td>
	<td colspan='4' >标准控制水样</td>
	<td rowspan='2' nowrap>分析<br />人员</td>
</tr>
<tr>
	<td>1</td>	
	<td>2</td>	
	<td nowrap>平均<br />值</td>
	<td nowrap>相对<br />偏差(%)</td>	
	<td nowrap>结果<br />判定</td>

	<td nowrap>回归方程</td>	
	<td nowrap>r</td>	
	<td nowrap>截距<br />检验</td>

	<td nowrap>检测<br />数量</td>
	<td nowrap>测定<br />率(%)</td>
	<td nowrap>相对<br />偏差<br />范围</td>
	<td nowrap>结果<br />判定</td>

	<td nowrap>检测<br />数量</td>
	<td nowrap>测定<br />率(%)</td>
	<td nowrap>回收率<br />范围</td>
	<td nowrap>结果<br />判定</td>

	<td nowrap>检测<br />数量</td>
	<td nowrap>测定<br />率%</td>
	<td nowrap>RE%</td>
	<td nowrap>结果<br />判定</td>
</tr>
$lines
</table>
<table align='center' style='width:28cm;'>
<tr><td style="width:6cm">填表:</td><td>校核:</td><td>审核:</td></tr>
 
</table>
<p style="page-break-before:always;"></p>


