<tr align="center" class="line">
$td1_2
<td nowrap="nowrap" style="color:blue;cursor:pointer" onclick="window.open('$rooturl/huayan/assay_form.php?tid={$r['tid']}')">{$r['td2']}</td>
<td>{$r['time_01']}</td>
<td>{$qx['hgfc']}</td>	
<td>{$qx['r']}</td>	
<td>{$qx['hege']}</td>
<!-- 室内平行 -->
<td>{$r1a['vd0_1']}</td>	
<td>{$r1a['vd0_2']}</td>	
<td>{$r1a['xdpc']}</td>	
<!-- 加标回收 -->
<td>{$r2a['vd0_1']}</td>
<td>{$r2a['vd0_2']}</td>
<td>{$r2a['cha']}</td>
<td>{$r2a['m']}</td>
<td>{$r2a['xdpc']}</td>
</tr>