<tr align='center' class="line">
<td nowrap  >{$i}</td>
<td nowrap  >{$cy_date}</td>
<td >{$cj_arr[$vid]}</td>
<td >{$px['count']}</td>
<td >{$px['kzl']}</td>
<td style="color:blue;cursor:pointer" onclick="window.open('$rooturl/huayan/ahlims.php?app=pay_list&year=$year&month=$month&vid={$px['vid']}')">{$px['xm']}</td>
<td nowrap>{$px['xdpc']}</td>
<td nowrap>{$px['pj']}</td>
<td >{$kb['count']}</td>
<td >{$kb['kzl']}</td>
<td style="color:blue;cursor:pointer" onclick="window.open('$rooturl/huayan/ahlims.php?app=pay_list&year=$year&month=$month&vid={$px['vid']}')">{$kb['xm']}</td>
<td nowrap>{$kb['xdpc']}</td>
<td nowrap>{$kb['pj']}</td>
<td></td>
</tr>
