<h3>现场采样质量控制记录表</h3>
<table style='width:35cm' align='center'><tr><td align='left'>　单位：$dwname </td><td align='right'>$year 年 $month 月　　</td></tr></table>
<table style='width:35cm' align='center' class='single'>
	<tr align='center'>
	<td rowspan="2">序号</td>
	<td rowspan="2" > 采样<br>日期</td>
	<td rowspan="2">样品<br />采集<br />总数</td>
	<td colspan="5">现场平行样</td>
	<td colspan="5">全程序空白样</td>
	<td rowspan="2" >备注</td>
	</tr>

	<tr align='center' class="padding_0">
	<td>采集<br />数量</td>
	<td>测定率(%)</td>
	<td>水质参数</td>
	<td>相对偏差<br />范围%</td>
	<td>结果<br />判定</td>

	<td>采集<br />数量</td>
	<td>测定率(%)</td>
	<td>水质参数</td>
	<td>相对偏差(%)</td>
	<td>结果<br />判定</td>
	</tr>
	$lines
</table>