<table style="border-color:#000;background-color: #FFFFFF;width:19cm;"  align="center" cellpadding="0" cellspacing="0">
	<tbody>
		<tr class="firstRow" style="font-family:宋体;font-size:12pt">
			<td width="68%" style="padding-left:20px;" colspan="3" nowrap>报告编号：(青水监)字 {$nian} 第 {$bh} 号</td>
			<td colspan="4" align="right" style="letter-spacing:5px;padding-right:20px">第 {$page} 页 共 {$z_page} 页</td>
		</tr>
	</tbody>
</table>
<table style="background-color: #FFFFFF;border-collapse:collapse; width:19cm;" cellpadding="0" cellspacing="0" align="center" border="1" class="td_border">
	<tr class="firstRow" align="center" style="font-family:宋体;font-size:12pt;">
		<td>序号</td>
		<td>检测项目</td>
		<td colspan="2">计量单位</td>
		<td>检测结果</td>
		<td colspan="2">检测依据</td>
	</tr>
	{$bgline}
</table>