<div style="background-color: #FFFFFF; width:20cm;margin:0 auto;" >
<table style="border-color:#000;border-collapse:collapse;background-color: #FFFFFF; width:19cm;" align="center">
<tbody>
	<tr style="height:1cm">
		<td colspan="7">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="6" style="background-color: #FFFFFF;font-family:宋体;height:1cm;width:12cm;"></td>
		<td style="text-align:left;background-color: #FFFFFF;font-family:宋体;font-size:12pt;height:1cm;">报告编号：<span style="font-weight:bold">{$bgbh}</span></td>
	</tr>
	<tr>
		<td colspan="6" style="background-color: #FFFFFF;height:1cm;width:12cm;"></td>
		<td style="text-align:left;background-color: #FFFFFF;font-family:宋体;font-size:12pt;height:1cm;">样品编号：<span style="font-weight:bold">{$ypbh}</span></td>
	</tr>
	<tr>
		<td colspan="7"><h2 align="center" style="background-color: #FFFFFF;font-family:宋体;font-size:20pt;">国家城市供水水质监测网兰州监测站</h2></td>
	</tr>
	<tr>
		<td colspan="7"><h2 align="center" style="background-color: #FFFFFF;font-family:宋体;font-size:20pt;">检<span style="letter-spacing:30px;">&nbsp;</span>测<span style="letter-spacing:30px;">&nbsp;</span>报<span style="letter-spacing:30px;">&nbsp;</span>告</h2></td>
	</tr>
	</tbody></table>
<table style="background-color:#FFFFFF;border-collapse:collapse;width:19cm;" align="center" border="1" cellpadding="4" class="td_border" >
	<tbody>
		<tr class="firstRow" style="height:0.8cm;font-family:宋体;font-size:12pt">
			<td colspan="2" style="width:33%">样品名称：{$ypmc}</td>
			<td colspan="3" style="width:33%">样品状态：{$ypzt}</td>
			<td colspan="2" style="width:33%">样品来源：{$yply}</td>
		</tr>
		<tr style="height:0.8cm;font-family:宋体;font-size:12pt">
			<td colspan="2" >样品数量：{$detail_rs['yp_sl']}</td>
			<td colspan="3" >检测日期：{$jcrq}</td>
			<td colspan="2" >检测项目：{$vid_nums}</td>
		</tr>
		<tr style="height:0.8cm;font-family:宋体;font-size:12pt">
			<td colspan="2" >{$date_lx}：{$syrq}</td>
			<td colspan="3" >委托方名称：{$wtdw}</td>
			<td colspan="2" >委托方地址：{$detail_rs['wt_dz']}</td>
		</tr>	
		<tr style="height:0.8cm;font-family:宋体;font-size:12pt">
			<td colspan="7" >采样地点：{$cydd}</td>
		</tr>
		<tr style="height:0.8cm;font-family:宋体;font-size:12pt">
			<td colspan="7" >评价依据：{$detail_rs['pj_yj']}</td>
		</tr>
		<tr style="height:0.8cm;font-family:宋体;font-size:12pt">
			<td colspan="7" >备注：{$beizhu}</td>
		</tr>	
	</tbody>
</table>
<table style="border-collapse:collapse; background-color: #FFFFFF; width:19cm;" align="center" cellpadding="6">
	<tbody>
		<tr class="firstRow">
			<td style="word-break: break-all;font-family:宋体;font-size:12pt;">检测结果：见续页</td>
		</tr>
	</tbody>
</table>
</div>