
<link rel="stylesheet" href="$rooturl/css/boxy.css" type="text/css" />
<script type="text/javascript" src="$rooturl/js/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="$rooturl/js/jquery.boxy.js"></script>
<script language="JavaScript" type="text/JavaScript">
$(function(){
	$(".boxy").boxy();
});

</script>
<div style="min-height:400px">
<div>
<h3 class="header smaller center title">检测报告模板</h3>
</div>

<table class="table table-striped table-bordered table-hover center"   width="90%" >
	<thead>
   <tr >
	    <th>模版ID</th>
        <th>模版名称</th>
		<th>水样类型</th>
    	<th>状态</th>
        <th>操作</th>

   </tr>
</thead>
$list 


</table>
</div>
<script language="javascript" src="$rooturl/js/lims/jquery.js"></script>

<script language="javascript" src="$rooturl/js/lims/jquery.jBox-2.3.min.js"></script>
<script language="javascript" src="$rooturl/js/lims/jquery.tools.min.js"></script>

<script language="javascript" src="$rooturl/js/boxy.js"></script>
