<div style="background-color: #FFFFFF; width:20cm;margin:0 auto;" >
<table style="border-color:#000;border-collapse:collapse;background-color: #FFFFFF; width:19cm;" align="center">
<tbody>
	<tr style="height:1cm">
		<td colspan="7">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="6" style="background-color: #FFFFFF;width:12cm;height:1cm;"></td>
		<td  style="text-align:left;background-color: #FFFFFF;font-family:宋体;font-size:12pt;height:1cm;">报告编号：<span style="font-weight:bold">{$bgbh}</span></td>
	</tr>
	<tr>
		<td colspan="6" style="background-color: #FFFFFF;height:1cm;width:12cm;"></td>
		<td style="text-align:left;background-color: #FFFFFF;font-family:宋体;font-size:12pt;height:1cm">样品编号：<span style="font-weight:bold">{$ypbh}</span></td>
	</tr>
	<tr>
		<td colspan="7"><h2 align="center" style="background-color: #FFFFFF;font-family:宋体;font-size:20pt;">国家城市供水水质监测网兰州监测站</h2></td>
	</tr>
	<tr>
		<td colspan="7"><h2 align="center" style="background-color: #FFFFFF;font-family:宋体;font-size:20pt;">检<span style="letter-spacing:30px;">&nbsp;</span>测<span style="letter-spacing:30px;">&nbsp;</span>报<span style="letter-spacing:30px;">&nbsp;</span>告</h2></td>
	</tr>
	<tr>
		<td colspan="7"><h2 align="center" style="background-color: #FFFFFF;font-family:宋体;font-size:18pt;">(续页)</h2></td>
	</tr>
	</tbody></table>
</table>
<table style="background-color: #FFFFFF;border-collapse:collapse; width:19cm;" cellpadding="0" cellspacing="0" align="center" border="1" class="td_border">
	<tr class="firstRow" align="center" style="font-family:宋体;font-size:13pt;font-weight:bold;">
		<td>序号</td>
		<td>检测项目</td>
		<td>单位</td>
		<td>标准限值</td>
		<td>带入饮用水中的容许限值</td>
		<td>检测方法</td>
		<td>样品含量</td>
		<td>带入饮用水中的评价*含量</td>
		<td>评价</td>
	</tr>
	$bgline
</table>
	$bgjw
</div>