<div style="background-color: #FFFFFF; width:20cm;margin:0 auto;" >
<table style="width:19cm;padding-top:50px;padding-bottom:6cm;" align="center">
	<tbody>
		<tr class="firstRow">
			<td style="text-align:center;font-family:黑体;font-size:23pt;height:4cm">说&nbsp;&nbsp;&nbsp;&nbsp;明</td>
		</tr>
		<tr>
			<td style="line-height: 2em; font-family:楷体; font-size: 16pt; word-break: break-all;padding-left:50px;padding-right:50px"><br/>1、本报告不允许用铅笔、圆珠笔填写，不得涂改、增删。<br/>2、本报告经签字盖章后生效（附页加盖骑缝章）。<br/>3、本报告只对送检样品检测结果负责。<br/>4、本报告未经同意不得作为商品广告使用。<br/>5、未经本站批准，不得部分复制本报告。<br/><br/><br/>
			</td>
		</tr>
	</tbody>
</table>
<table style="width:19cm;" align="center">
	<tbody>
		<tr class="firstRow">
			<td><strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;<br/></td>
		</tr>
		<tr class="firstRow">
			<td><strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;<br/></td>
		</tr>
		<tr class="firstRow" style="line-height:2em;font-family:'Times New Roman';font-size:12pt;">
			<td style="padding-left:50px;">检验机构地址：{$jcdw[Address]}<br/></td>
		</tr>
		<tr style="line-height:2em;font-family:'Times New Roman';font-size:12pt;">
			<td style="padding-left:50px;">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：{$jcdw[youbian]}<br/></td>
		</tr>
		<tr style="line-height:2em;font-family:'Times New Roman';font-size:12pt;">
			<td style="word-break: break-all;padding-left:50px">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：{$jcdw[Phone]}</td>
		</tr>
		<tr class="firstRow" style="line-height:2em;font-family:'Times New Roman';font-size:12pt;">
			<td style="padding-left:50px;">传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真：{$jcdw[fax]}<br/></td>
		</tr>
	</tbody>
</table>
</div>