<style>
.tablelv { border:1px #0CF solid; border-collapse:collapse; width:1250px;margin:auto}
.tablelv *{ color:#363636}
.tablelv tr td{ font-size:12px; height:20px; line-height:20px; border:1px solid #00CCFF}
a{text-decoration:none;color:#363636}
a:hover{color:red}
input{background:#AACCFF}

</style>

<table class="table table-striped table-bordered table-hover center">
<h3 class="header smaller center title">文件管理</h3>
<tr align=center><td>卷号_search</td><td>主要内容</td><td>文件</td><td>详细</td><td>文件</td></td></tr>

	$str
</table>