<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>密 码 平 行 样 检 测 结 果 评 定</title>
<link href="$rooturl/print.css" rel="stylesheet" type="text/css" />
$qipao
</head>
<body>
$p1<h2 align="center" >$year 年 $month 月  $_GET[xun] 密 码 平 行 样 检 测 结 果 评 定</h2>

<br />

<table class="single bgkd">
<tr align=center>
<td >检测项目</td>
<td>平行样<br>检测数量</td>
<td>测定率(%)</td>
<td>精密度(%)</td>
<td>合格率(%)</td>
<td>检测人员</td>

</tr>
$baogaoline
<tr><td colspan=8><textarea style="width:100%" rows=3>$bz1</textarea></td></tr>
<tr><td colspan=8><textarea style="width:100%" rows=2>$bz2</textarea></td></tr>
<tr><td colspan=8><textarea style="width:100%" rows=2>$bz3</textarea></td></tr>
</table>
$p2

</body>
</html>
<p></p>
