<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>加 标 回 收 率 检 测 结 果 评 定</title>
<link href="$rooturl/print.css" rel="stylesheet" type="text/css" />
$qipao
</head>
<body>

$p1<h2 align="center" >$year 年 $month 月  $_GET[xun] 加 标 回 收 率 检 测 结 果 评 定</h2>

<br />

<table class="single bgkd">
<tr align=center>
<td>检测项目</td>
<td>检测数量<br>(个)</td>
<td>测定率(%)</td>
<td>回收率范围(%)</td>
<td>检测人员</td>
<td>是否合格</td>

</tr>
$baogaoline
<tr><td colspan=8><textarea  rows=2>$bz1</textarea></td></tr>
<tr><td colspan=8><textarea rows=2>$bz2</textarea></td></tr>
<tr><td colspan=8><textarea rows=2>$bz3</textarea></td></tr>
</table>
$p2

</body>
</html>

<p></p>
