<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>加 标 回 收 率 检 测 结 果</title>
<link href="$rooturl/print.css" rel="stylesheet" type="text/css" />
$qipao
</head>
<body>

$p1<h2 align="center" >$year 年 $month 月  $_GET[xun] 加 标 回 收 率 检 测 结 果</h2>

<br />
<style>
	h2{margin-top: 20px;}
	
</style>
<table class="single bgkd">
<tr align=center>
<td>样品编<br>号</td>
<td>检测项目</td>
<td>标准样品浓<br>度(mg/L)</td>
<td>标准样品<br>加入体积(ml)</td>
<td>原水样体<br>积(ml)</td>
<td>合并水样体<br>积(ml)</td>
<td>标准加入浓<br>度(mg/L)</td>
<td>加标后测定<br>值(mg/L)</td>
<td>原水样浓度 <br>(mg/L)</td>
<td>原水样折算<br>后浓度(mg/L)</td>
<td>回收率<br>(%)</td>
</tr>
$baogaoline
<tr><td colspan=11><textarea style="width:100%" rows=1>$bz1</textarea></td></tr>
<tr><td colspan=11><textarea style="width:100%" rows=1>$bz2</textarea></td></tr>
</table>
$p2

</body>
</html>
<p></p>
