<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>密 码 平 行 样 检 测 结 果</title>
<link href="$rooturl/print.css" rel="stylesheet" type="text/css" />
$qipao
</head>
<style>
h2{margin-top:15px;}
</style>

<body>


$p1<h2 align="center" >$year 年 $month 月  $_GET[xun] 密 码 平 行 样 检 测 结 果</h2>

<br />

<table class="single bgkd">
<tr align=center>
<td>项目:</td>
<td colspan=2>$xm</td>
<td>检测方法:</td>
<td colspan=2>$ff</td>
<td>检测人员:</td>
<td colspan=2>$ry</td>
<tr align=center>
<td>序号</td>
<td>平行样<br>编号</td>
<td>测试浓度<br>(mg/L)</td>
<td>平行样<br>编号</td>
<td>测试浓度<br>(mg/L)</td>
<td>平行样<br>均值</td>
<td>精密度<br>(%)</td>
<td>精密度允许<br>偏差(%)</td>
<td>结果评定</td>
</tr>
$baogaoline
<tr><td colspan=9 ><input type="text" value="$bz1"></td></tr>
<tr><td colspan=9><input type="text" value="$bz2"></td></tr>
<tr><td colspan=9><input type="text" value="$bz3"></td></tr>
<tr><td colspan=9><textarea style="width:100%"  rows=2>$bz4</textarea></td></tr>
</table>
$p2

</body>
</html>
<p></p>
