<h3 class="header smaller center title">单项质控报告列表</h3>
<div class="widget-box no-border">
  <div class="widget-header header-color-blue4 center">
  <div class="widget-toolbar">
  </div>
  </div>
  <div class="widget-body">
  <table class="table table-striped table-bordered table-hover center">
    <thead>
      <tr>
        <th class="center" style="width:10%">序号</th>
        <th class="center" style="width:70%">报告名称</th>
        <th class="center" style="width:20%">操作</th>
      </tr>
    </thead>
    <tbody>
      $divline
    </tbody>
  </table>
  </div>
</div>