<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>实 验 室 两 空 白 检 测 结 果 比 较</title>
<link href="$rooturl/print.css" rel="stylesheet" type="text/css" />
$qipao
</head>
<body>
$p1<h2 align="center" >$year 年 $month 月 $_GET[xun] 实 验 室 两 空 白 检 测 结 果 比 较</h2>
<br />
<table class="single bgkd">
<tr align="center">
<td>检测项目</td>
<td>实验室空白<br>样检测值1</td>
<td>实验室空白<br>样检测值2</td>
<td>实验室空白<br>样检均值</td>
<td>相对偏差<br>(%)</td>
<td>相对偏差<br>最大允许<br>值(%)</td>
<td>结果<br>评定</td>
<td>检测人员</td>
</tr>
$baogaoline
<tr><td colspan="8"><input type="text" value="$bz1"></td></tr>
<tr><td colspan="8"><textarea rows="2">$bz2</textarea></td></tr>
</table>
$p2
</body>
</html>