<div class="center" style="padding:0 0 100px 0;">
	<h1>申请资质认定检测能力表</h1>
	<table style="width:26cm">
		<tr>
			<td align="left">实验室名称：{$hub_info['hub_name']}</td>
			<td align="right">第 1 页 共 1 页 </td>
		</tr>
	</table>
	<table class="single" style="width:26cm">
		<tr>
			<td rowspan="2">序号</td>
			<td colspan="2">检测产品/类别</td>
			<td rowspan="2">检测项目/参数</td>
			<td rowspan="2">检测标准（方法）名称及编号（含年号）</td>
			<td rowspan="2">限制分为或说明</td>
		</tr>
		<tr>
			<td>序号</td><td>名称</td>
		</tr>
		$lines
	</table>
</div>