<h3 class="header smaller center title">辽宁省各实验室检测能力统计列表</h3>
<div class="widget-box no-border" style="width:90%;margin:0 auto;">
  <div class="widget-header header-color-blue4 center">
    <div class="widget-toolbar">  </div>
  </div>
  <div class="widget-body">
    <table class="table table-striped table-bordered table-hover center">
        <thead>
            <td style="width:15%">序号</td>
            <td style="width:40%">实验室名称</td>
            <td style="width:15%">检测项目数</td>
            <td style="width:15%">检测方法数</td>
            <td style="width:15%">查看统计表</td>
        </thead>

        <tbody>
             $lines
        </tbody>
    </table>
  </div>
</div>
