 <tr style="height:43px!important;">
    <td style="border:solid 1px #DDDDDD;width:130px!important;text-align:left!important;z-index:9999!important;">$mx[1]</td>
    <td style="border:solid 1px #DDDDDD;width:130px!important;text-align:left!important;z-index:9999!important;">$mx[2]</td>
    <td style="border:solid 1px #DDDDDD;width:130px!important;text-align:left!important;z-index:9999!important;">$mx[3]</td>
    <td style="border:solid 1px #DDDDDD;width:130px!important;text-align:left!important;z-index:9999!important;">$mx[4]</td>
    <td style="border:solid 1px #DDDDDD;width:130px!important;text-align:left!important;z-index:9999!important;">$mx[0]</td>
  </tr>
