<h1 class="center">省中心与{$row['hub_name']}检测成果对比</h1>
<table class="single center" style="width:18cm">
	<tr>
		<td>检测断面</td>
		<td colspan="6">{$row['site_name']}</td>
	</tr>
	<tr>
		<td>水功能区</td>
		<td colspan="6">{$row['sgnq']}</td>
	</tr>
	<tr>
		<td>水质目标</td>
		<td colspan="6"></td>
	</tr>
	<tr>
		<td>检测项目</td>
		<td colspan="2">省中心</td>
		<td colspan="2">{$row['hub_name']}</td>
		<td rowspan="2">相对偏差</td>
		<td rowspan="2">结果判定</td>
	</tr>
	<tr>
		<td>检测项目</td>
		<td>分析方法</td>
		<td>测定值</td>
		<td>分析方法</td>
		<td>测定值</td>
	</tr>
	$line
	<tr>
		<td>水质类别</td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>超标项目</td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
	</tr>
	<tr><td colspan="7" align="left">注：</td></tr>
</table>